p 
{
    color:darkorchid;
}

.header-background 
{
    background-color: black;
    color: white;
    text-decoration: underline;
}

#bigger-font
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}